*, *::before, *::after { 
    box-sizing: border-box;
}

body {
    background:#343a40;
    color: #f8f9fa;
    margin: 40px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
}

header > form {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 5px;
    margin: 0;
}

header > form > input {
    padding: 10px 15px;
}

header > form > input, button{
    width: 100%;
    padding: 20px;
    border-radius: 5px;
}

button, .function-icons{
    cursor: pointer;
}

/* Todo Items */

.todo-container{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    flex-direction: row;
    padding: 0px 10px;
    margin: 10px 0;
    color:#343a40;
}

.todo-item-text,
.edit-form,
.edit-input-text,
.todo-item {
    width: 100%;
}

.todo-item{
    display: flex;
    flex-direction: row;
    word-break: break-all;
    gap: 5px;
} 

.todo-item-text {
    padding: 4px 10px;
}

.todo-item > input[type=text], 
.edit-input-text {
    box-shadow: 0px 0px 14px 0.5px #999;
}

.edit-form {
    margin: 16px 8px;
}

.edit-input-text {
    font-size: 1rem;
    padding: 6px 8px;
    border: none;
}

/* Icons */

.function-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.function-icons > i, .todo-item > input {
    width: 16px;
}

.start-icon{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-icon > i {
   font-size: 4rem;
}


@media (min-width:820px) {
   body {
    margin: 80px 100px;
   }

   h1 {
    font-size: 2.4rem;
    margin-bottom: 25px;
   }

   header {
    margin-bottom: 25px;
   }

   header > form {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 8px;
    margin: 0;
}
   
}