*, *::before, *::after { 
    box-sizing: border-box;
}

body {
    background:#343a40;
    color: #f8f9fa;
    margin: 0px 20px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 5px;
    margin: 0;
}

form > input{
    padding: 10px 15px;
}

form > input, button{
    width: 100%;
    padding: 20px;
    border-radius: 5px;
}

button, .function-icons{
    cursor: pointer;
}

.todo-container{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    flex-direction: row;
    padding: 0px 10px;
    margin: 10px 0;
    color:#343a40;
}

.todo{
    display: flex;
    flex-direction: row;
    word-break: break-all;
    gap: 5px;
} 

.todo-text{
    padding: 4px 10px;
}

.function-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.function-icons > i, .todo > input {
    width: 16px;
}

.start-icon{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-icon > i {
   font-size: 4rem;
}

.edit-input{
   
}



